[submodule "Libraries/srelay"]
	path = Libraries/srelay
	url = git@github.com:jeromelebel/srelay.git
[submodule "Libraries/polipo"]
	path = Libraries/polipo
	url = git@github.com:jeromelebel/polipo.git
